<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="/assets/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/icon.png">

        <!-- Load application styles -->
        <link rel="stylesheet" href="/assets/css/frontend.css">
    </head>
    <body>
        <!-- Load application content -->
        <div id="root"></div>

        <!-- Load appliction libraries -->
        <script src="/assets/js/libraries.bundle.js"></script>
        <!-- Load appliction scripts -->
        <script src="/assets/js/frontend.bundle.js"></script>
    </body>
</html>